/* 
 * Use screen.scss to centralize imports. 
 * Each page-type or module should have it's own SCSS file to break up the styles 
 * in meaningful, semantic chunks.
*/
/* line 1, ../sass/_basestyles.scss */
header {
  padding-top: 1em;
}

/* line 6, ../sass/_basestyles.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

/* line 12, ../sass/_basestyles.scss */
a:link,
a:visited {
  color: #006e3c;
}

/* line 17, ../sass/_basestyles.scss */
p {
  line-height: 1.65em;
}
