/* 
 * Use screen.scss to centralize imports. 
 * Each page-type or module should have it's own SCSS file to break up the styles 
 * in meaningful, semantic chunks.
*/
/* line 5, ../sass/_basestyles.scss */
header {
  padding-top: 1em;
}

/* line 10, ../sass/_basestyles.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #5ee8bf;
  color: white;
}

/* line 17, ../sass/_basestyles.scss */
a:link,
a:visited {
  color: white;
}

/* line 22, ../sass/_basestyles.scss */
p {
  line-height: 1.65em;
}

/* line 31, ../sass/_basestyles.scss */
ul li {
  list-style-type: none;
}

/* line 36, ../sass/_basestyles.scss */
.site-header {
  padding-top: 2.5em;
  margin-bottom: 4em;
}

/* line 41, ../sass/_basestyles.scss */
.site-nav {
  padding-top: 2em;
}
/* line 43, ../sass/_basestyles.scss */
.site-nav li {
  display: inline;
  margin: 0 20px;
}

/* line 49, ../sass/_basestyles.scss */
.sidebar {
  padding-left: 1.5em;
}

/* line 53, ../sass/_basestyles.scss */
.page-jump {
  padding: 20px;
  clear: both;
}

/* line 59, ../sass/_basestyles.scss */
.site-footer {
  position: fixed;
  padding: 0.5em;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  text-align: center;
  clear: both;
}
