$primary-color: white;
$background-color: #5ee8bf;


header {
    padding-top: 1em;
}


body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: $background-color;
    color: $primary-color;
    }

a:link,
a:visited {
    color: $primary-color;
}

p {
    line-height: 1.65em;
}

h1, h2{
    text-align: center;
}

ul {
    li{
        list-style-type: none;   
    }
}

.site-header {
	padding-top: 2.5em;
	margin-bottom: 4em;
}

.site-nav {
	padding-top: 2em;
    li {
        display: inline;
        margin: 0 20px;
    }
}


.site-footer{
	margin-left: auto;
	margin-right: auto;
	position:absolute;
	bottom: 0;
	text-align: center;
}